body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    min-height: 60px; /* Установите минимальную высоту по вашему усмотрению */
}

footer p {
    font-size: 20px; /* Регулируйте размер текста по вашему усмотрению */
}

footer img {
    width: 30px; /* Регулируйте ширину изображения по вашему усмотрению */
    height: auto; /* Автоматическое соотношение высоты и ширины */
    margin-top: 10px; /* Добавьте отступ сверху по вашему усмотрению */
}
